<%!-- <div class="block flex-auto max-w-xs">
  <button
    type="button"
    class="hidden text-gray-500 bg-white hover:ring-gray-500 ring-gray-300 h-8 w-full items-center gap-2 rounded-md pl-2 pr-3 text-sm ring-1 transition lg:flex focus:[&:not(:focus-visible)]:outline-none"
    phx-click={open_modal()}
  >
    <svg viewBox="0 0 20 20" fill="none" aria-hidden="true" class="w-5 h-5 stroke-current">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M12.01 12a4.25 4.25 0 1 0-6.02-6 4.25 4.25 0 0 0 6.02 6Zm0 0 3.24 3.25"
      >
      </path>
    </svg>
    Find something...
  </button>
</div> --%>

<%!-- <div
  id="searchbar-dialog"
  class="fixed inset-0 z-50"
  role="dialog"
  aria-modal="true"
  phx-window-keydown={hide_modal()}
  phx-key="escape"
> --%>
<div class="fixed inset-0 opacity-100 backdrop-blur-sm bg-zinc-400/25"></div>

<div class="fixed inset-0 overflow-y-auto px-4 py-14 sm:py-20 sm:px-6 md:py-32 lg:px-8 lg:py-[15vh]">
  <h1 class="text-7xl font-extrabold text-center text-green-800 font-malayalam">
    നിള
  </h1>
  <h3 class="pt-3 pb-5 text-2xl text-center text-zinc-500 font-malayalam">മലയാളം നിഘണ്ടു</h3>
  <%= @show_meanings_modal %>
  <.modal show={@show_meanings_modal} id="confirm-modal">
    This is a modal.
  </.modal>
  <div
    id="searchbox_container"
    class="overflow-hidden mx-auto rounded-lg shadow-xl opacity-100 scale-100 bg-zinc-50 ring-zinc-900/7.5 sm:max-w-xl"
    phx-hook="SearchBar"
    phx-key="escape"
  >
    <div
      role="combobox"
      aria-haspopup="listbox"
      phx-click-away={hide_modal()}
      aria-expanded={@meanings != []}
    >
      <form action="" novalidate="" role="search" phx-change="get_suggestions">
        <div class="flex relative h-12 group">
          <svg
            viewBox="0 0 20 20"
            fill="none"
            aria-hidden="true"
            class="absolute top-0 left-3 w-5 h-full pointer-events-none stroke-zinc-500"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12.01 12a4.25 4.25 0 1 0-6.02-6 4.25 4.25 0 0 0 6.02 6Zm0 0 3.24 3.25"
            >
            </path>
          </svg>

          <input
            id="search-input"
            name="search[query]"
            class="flex-auto rounded-lg appearance-none bg-transparent pl-10 text-zinc-900 outline-none focus:outline-none border-b-4 border-slate-200 focus:border-none focus:ring-0 focus:shadow-none placeholder:text-zinc-500 focus:w-full focus:flex-none sm:text-sm [&::-webkit-search-cancel-button]:hidden [&::-webkit-search-decoration]:hidden [&::-webkit-search-results-button]:hidden [&::-webkit-search-results-decoration]:hidden pr-4"
            style={
              @meanings != [] &&
                "border-bottom-left-radius: 0; border-bottom-right-radius: 0; border-bottom: none"
            }
            aria-autocomplete="both"
            aria-controls="searchbox__results_list"
            autocomplete="off"
            autocorrect="off"
            autocapitalize="off"
            enterkeyhint="search"
            spellcheck="false"
            placeholder="Find something..."
            type="search"
            value=""
            tabindex="0"
            autofocus=""
          />
        </div>

        <ul
          :if={@meanings != []}
          class="overflow-y-auto text-sm leading-6 rounded-b-lg border-t divide-y divide-slate-200 border-slate-200"
          id="searchbox__results_list"
          role="listbox"
        >
          <%= for place <- @meanings do %>
            <li>
              <.link
                phx-click="show-meaning"
                phx-value-english-entry={place.english_entry}
                class="block p-4 hover:bg-slate-100 focus:outline-none focus:bg-slate-100 focus:text-sky-800"
              >
                <div class="flex justify-between items-start md:flex-row">
                  <!-- Word Section -->
                  <div class="w-full text-sm md:w-1/3">
                    <%= place.english_entry %>
                  </div>
                  <!-- Meaning Section -->
                  <div class="w-full text-sm text-gray-600 md:w-2/3 font-malayalam">
                    <%!-- <%= render_meaning(place, @expanded_meanings) %> --%>
                    <span class="text-sm text-gray-500 font-malayalam">
                      <%= place.malayalam_definition %>
                    </span>
                  </div>
                </div>
                <%!-- <%= place.english_entry %> --%>
              </.link>
            </li>
          <% end %>
        </ul>
      </form>
    </div>
  </div>
</div>
<%!-- <.live_component module={OlamWeb.MeaningList} id="meaning_list" /> --%>
<%!-- </div> --%>

<%!-- <div id="modal" class="modal">
  My Modal
</div>

<button phx-click={JS.show(to: "#modal", transition: "fade-in")}>
  show modal
</button>

<button phx-click={JS.hide(to: "#modal", transition: "fade-out")}>
  hide modal
</button>

<button phx-click={JS.toggle(to: "#modal", in: "fade-in", out: "fade-out")}>
  toggle modal
</button> --%>
